.categoriesStats-wrapper {
  border: 1px solid grey;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.categoriesStats-item-wrapper {
  display: flex;
}

.categoriesStats-content {
  font-size: 12px;
}

.categoriesStats-sets-content {
  color: red;
  font-weight: 500;
}
