.AddTrainingModal-wrapper {
  position: absolute;
  left: 35%;
  top: 20%;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: fit-content;
  background-color: rgba(87, 86, 86, 0.973);
  border: 1px solid red;
  color: white;
  z-index: 900;
}

.AddTrainingModal-close-wrapper {
  width: 98%;
  height: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.AddTrainingModal-close-icon {
  height: 25px;
  width: 25px;
  color: red;
}
.AddTainingModal-TrainingOptions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.AddTainingModal-date-content {
  margin: 0;
  padding: 0;
}

.AddTainingModal-addBtn {
  margin: 10px 0 10px 0;
}
/* .updateExerciseMOdal-wrapper {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(87, 86, 86, 0.973);
  border: 1px solid red;
  color: white;
}

.updateExerciseMOdal-close-wrapper {
  width: 98%;
  height: 8%;
}

.updateExerciseMOdal-close-icon {
  height: 25px;
  width: 25px;
  color: red;
}

.updateExerciseMOdal-edit-wrapper {
  width: 98%;
  height: 92%;
  background-color: rgba(0, 0, 0, 0.397);
}

.updateExerciseMOdal-item-data-content {
  margin: 8px 3px 8px 5px;
}
.updateExerciseMOdal-input-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.updateExerciseMOdal-item-data-input {
  width: 20px;
  height: 20px;
  background-color: lightgray;
  margin: 0 5px 0 5px;
  padding: 0;
} */
