.exampleExercisesList-wrapper {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  top: 22px;
  left: 0;
  min-width: 280px;
  min-height: fit-content;
  border: 1px solid rgb(170, 27, 27);
  background-color: rgb(223, 223, 223);
  margin-bottom: 20px;
}

.exampleExercisesList-item-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exampleExercisesList-item-name {
  margin: 2px 0 2px 5px;
}
.exampleExercisesList-item-wrapper :hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.exampleExercisesList-item-category {
  margin: 2px 5px 2px 0;
}
