#root {
  width: 100%;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #d3d3d3 20%,
    /* Hint of dark blue */ #ffffff 40%,
    #c2c2c2 60%,
    #ffffff 80%,
    #969696 100%
  );
}
